/* CSS For MobileFrontend2 */

/* Basic styling */
html {
	font-size: 0.8em;
}

body {
	line-height: 1;
	color: black;
	background: white;
	font-family: sans-serif;
	-webkit-text-size-adjust: none;
	margin: 0;
}

p, li, dl {
	line-height: 1.65;
}

pre {
	white-space: pre-wrap;
}

h2 {
	border-bottom: 1px solid #aaaaaa;
	padding-top: 0.3em;
	font-size: 1.3em;
}

/* Links */
a {
	text-decoration: none;
	color: #002bb8;
}

a:visited {
	color: #5a3696;
}

a:active {
	color: #faa700;
}

a:hover {
	text-decoration: underline;
}

a.new, a.new:visited, a.new:hover {
	color: red;
}

/* Page Title */
#firstHeading {
	font-size: 1.7em;
}

/* Jump back a section links */
.mf2-section-anchor a,
.mf2-section-anchor a:visited {
	margin-top: 7px;
	color:blue;
}

/* All the main content divs should be 8px from the side */
#header {
	margin: 8px 8px 0 8px;
}

#content_wrapper {
	clear: both;
	margin: 0 8px;
}

#footer {
	margin: 0 8px;
	padding: 1em 0 5px;
}

#footer #innerFooter {
	padding: 5px;
	background: #dddddd;
	-webkit-border-radius: 5px;
	margin-top: 5px;
	text-align: center;
	border: 1px solid grey;
	font-size: 1.1em;
}

#footer #innerFooter #perm {
	padding-top: 2em;
	font-size: 90%;
}

#footer #copyright {
	padding: 1em 0;
	font-size: 80%;
}

/* Hide the content block */
.mf2-content-block {
	display: none;
}

/* Disable content folding on the main page */
body.mainPage .mf2-section-anchor,
body.mainPage button.mf2-section-toggle {
	display: none;
}

body.mainPage .mf2-content-block {
	display: block;
}